body {
    color:#404040;
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin:0;
    padding:0;
    -webkit-font-smoothing:antialiased;
  }

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
  /*Side bar*/
.sidebar {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #189ad3;
  box-shadow: 0px 0px 10px #888888;
  z-index: 1;
}

.pad2 {
  padding:20px;
}

.map {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
}

h1 {
  font-size:22px;
  margin:0;
  font-weight:400;
  padding: 15px 20px 2px;
  color: white;
}

a {
  color:#404040;
  text-decoration:none;
}

a:hover {
  color:#101010;
}

.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  min-height:60px;
  line-height:60px;
  padding:0 10px;
  background-color: #189ad3;
  color: #fff;
}

.btn {
  background-color: #189ad3;
  color: white;
  width: 100%;
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
  border: white;
}

.marker {
  border: none;
  cursor: pointer;
  height: 59px;
  width: 45px;
  background-image: url(marker.png);
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.mapboxgl-popup {
  padding-bottom: 0px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #189ad3;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  min-width:180px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #888888;
}

.mapboxgl-popup-content h3 {
  background: #189ad3;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius: 7px 7px 0 0;
  margin-top:0;
  font-weight: normal;
}
.mapboxgl-popup-content h4 {
  margin:0;
  display:block;
  padding: 10px 10px 10px 10px;
  font-weight: normal;
  color: black;
}

#menu {
  position: absolute;
  left: 0px;
  top: 50px;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.7);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background: #189ad3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: none;
  background: #189ad3;
  cursor: pointer;
}

.fa-battery {
  padding-left: 100px;
}